# Example of .env file with your environment variables
POSTGRES_DB=rlic
POSTGRES_PASSWORD=pa$$word
DB_HOSTNAME=postgres
DB_PORT=5432
DB_NAME=rlic
DB_USERNAME=artem
DB_USER_PASSWORD=pa$$word

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=qwerty123
REDIS_DB=0
REDIS_TIMEOUT=60